.main-logo-nav {
  width: 100%;
  background-color: #ffffff;
  min-height: 70px;
}

.main-logo-nav .container-fluid {
  max-width: 1140px;
}
a.navbar-brand {
  display: block;
  border: none;
  outline: none;
  padding: 0px;
  margin-right: 0px;
  text-align: center;
  
}

a.navbar-brand img {
  display: block;
  max-height: 90px;
  margin: 15px auto;
  align: center;
}

@media only screen and (max-width: 991px) {
  .main-logo-nav .row {
    text-align: center;
  }
}

.main-banner {
  width: 100%;
  min-height: 500px;
  background-image: url(banner.jpg);
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  margin: 0 auto;
}

.main-banner .banner-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.main-banner .banner-overlay .container-fluid {
  max-width: 1140px;
}

.main-banner-v1 {
  background-image: url(banner.jpg);
}

.main-banner-v2 {
  background-image: url(banner.jpg);
}

@media only screen and (max-width: 991px) {
  .main-banner {
    background-position: center top;
    background-image: none;
  }
  .main-banner .banner-overlay {
    background-color: lightblue;
    padding-top: 0px;
  }
}

.banner-tagline {
  display: inline-block;
  background-color:  rgba(0, 0, 0, 0.7);
 
  padding: 20px 20px;
  color: #ffffff;
  margin-top: 150px;
}

.banner-tagline .main-tagline {
  display: block;
  font-size: 30px;
  line-height: 42px;
  color: #fff;
  font-family: "Roboto-Slab-Regular", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.banner-tagline .small-tagline {
  display: block;
  font-size: 26px;
  line-height: 34px;
  color: #ffffff;
  font-family: "Roboto-Slab-Regular", Arial, Helvetica, sans-serif;
}

.banner-tagline .sub-tagline-text {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-top: 5px;
  font-family: "Roboto-Slab-Regular", Arial, Helvetica, sans-serif;
}

.banner-tagline.banner-tagline-ty {
  margin-top: 300px;
}

@media only screen and (max-width: 991px) {
  .banner-tagline {
    display: block;
    background-color: lightblue;
    padding: 20px 0px;
    color: #skyblue;
    margin-top: 0px;
    text-align: center;
  }
  .banner-tagline .main-tagline {
    font-size: 22px;
    line-height: 32px;
  }
  .banner-tagline .small-tagline {
    font-size: 20px;
    line-height: 28px;
  }
  .banner-tagline .sub-tagline-text {
    font-size: 16px;
    line-height: 26px;
  }
  .banner-tagline.banner-tagline-ty {
    margin-top: 0px;
  }
}

.banner-btn-row a.banner-btn {
  margin: 15px auto 10px;
  white-space: initial;
  padding: 5px 10px;
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  .banner-btn-row {
    text-align: center;
  }
  .banner-btn-row a.banner-btn {
    margin: 10px auto 10px;
    font-size: 16px;
    padding: 5px 13px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .banner-btn-row a.banner-btn:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.time-ticker-col .time-ticker {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 0px 5px 10px;
  max-width: 350px;
}

.time-ticker > .ticker-text {
  display: block;
  padding: 5px 0px;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

.time-ticker > img {
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 991px) {
  .time-ticker-col .time-ticker {
    margin: 10px auto 0;
    margin-top: 10px;
    padding: 0px 5px 0px;
  }
  .time-ticker > .ticker-text {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
  }
  .time-ticker > img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.banner-box-btn {
  display: inline-block;
  background-color: #000000 !important;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 15px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .banner-box-btn {
    font-size: 15px;
    padding: 8px 10px;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
    margin-top: 15px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .banner-box-btn {
    display: block;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 370px) {
  .banner-box-btn {
    font-size: 12px;
    padding: 8px 3px;
  }
}

/* end of banner text rules */

.main-form {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}

.main-form .container-fluid {
  position: relative;
}

.main-form-col .card {
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 8px 25px;
  border: none;
  margin-left: auto;
  position: relative;
  border-radius: 0px;
}

.main-form-col .card .form-head {
  color: #292929;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.form-note {
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  color: #ff0000;
  line-height: 18px;
  margin-bottom: 15px;
}

/*banner form*/
.form-custom input[type="text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: calc(2.2em + 1px);
  margin: 0 0 0.7em;
  padding: 1em;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  resize: none;
  outline: none;
  border-radius: 3px;
  color: #262626;
}

.form-custom .form-group .input-group input[type="text"] {
  outline: none;
}

.form-custom .form-group .input-group input[disabled="disabled"],
.form-custom .form-group .input-group input[readonly] {
  background-color: #e9ecef;
}

.form-custom .form-group .input-group input[type="text"] + label[placeholder],
.form-custom .form-group .input-group input[type="text"] + ul + label[placeholder] {
  position: absolute;
  margin-top: calc(1.05em - 5px);
}

.form-custom .form-group .input-group input[type="text"][disabled="disabled"] + label[placeholder]::before {
  background: none;
}

.form-custom .form-group .input-group .input-group-text {
  height: calc(2.2em + 1px);
  cursor: pointer;
  border: 1px solid #bdbdbd;
  padding: .375rem 14px;
  position: absolute;
  right: 1px;
  z-index: 999;
  border-right: none;
}

.form-custom .form-group .input-group .input-group-text:hover {
  background-color: #000000;
  color: #ffffff;
}

.form-custom input[type="text"].error,
.form-custom input[type="text"].error:focus {
  border-color: #ff0000;
}

.custom-select.error {
  border-color: #ff0000;
}

.checkbox-inline input {
  margin-right: 10px;
}

.form-custom input[type="text"]:focus {
  border-color: #bdbdbd;
  background-color: #f0f0f0;
}

.form-custom input[type="text"]:focus + label[placeholder]::before,
.form-custom input[type="text"]:focus + ul + label[placeholder]::before {
  color: #292929;
}

.form-custom input[type="text"]:focus + label[placeholder]::before,
.form-custom .notEmpty input[type="text"] + label[placeholder]::before,
.form-custom input[type="text"]:focus + ul + label[placeholder]::before,
.form-custom .notEmpty input[type="text"] + ul + label[placeholder]::before {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transform: translate(0, -1.15em) scale(0.9, 0.9);
  -webkit-transform: translate(0, -1.35em) scale(0.9, 0.9);
  -moz-transform: translate(0, -1.35em) scale(0.9, 0.9);
  -ms-transform: translate(0, -1.35em) scale(0.9, 0.9);
  -o-transform: translate(0, -1.35em) scale(0.9, 0.9);
  position: relative;
  color: #292929;
  background: #f0f0f0;
}

.form-custom input[type="text"]:invalid + label[placeholder][alt]::before,
.form-custom input[type="text"]:invalid + ul + label[placeholder][alt]::before {
  content: attr(placeholder);
  position: relative;
}

.form-custom input[type="text"] + label[placeholder],
.form-custom input[type="text"] + ul + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.1em;
  margin-top: calc(-2.45em - 5px);
  margin-bottom: calc((2.3em - 1em) + 2px);
  font-size: 14px;
}

.form-custom input[type="text"] + label[placeholder]::before,
.form-custom input[type="text"] + ul + label[placeholder]::before {
  content: attr(placeholder);
  display: inline-block;
  margin: 2px calc(1.1em + -6px) 0px;
  padding: 0 2px;
  color: #292929;
  white-space: nowrap;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: #ffffff;
}

.custom-select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0.7em;
  height: calc(2.5em + 1px);
  border: 1px solid #bdbdbd;
  background: #ffffff;
  resize: none;
  outline: none;
  border-radius: 3px;
  color: #292929;
  font-size: 14px;
}

.selected .custom-select {
  color: #262626;
  background: #f0f0f0;
}

.select-label {
  display: none;
}

.selected .select-label {
  display: block;
  pointer-events: none;
  line-height: 1em;
  margin-top: calc(-2.8em - 2px);
  margin-bottom: calc((1.85em - 1em) + 2px);
  position: absolute;
  bottom: 7px;
  font-size: 14px;
}

.selected label[placeholder][alt]::before {
  content: attr(placeholder);
}

.selected label[placeholder][alt]::before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + -5px) 17px;
  padding: 0 2px;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  color: #292929;
  background: #f0f0f0;
  font-size: 14px;
}

.form-group.selected {
  position: relative;
}

.form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.7rem;
}

.form-custom .custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.select-icon {
  position: relative;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.custom-select::-ms-expand {
  display: none;
}

.select-icon::after {
  content: "\f078";
  pointer-events: none;
  position: absolute;
  font-family: FontAwesome;
  top: 0;
  right: 10px;
  color: #bdbdbd;
  line-height: 33px;
}

@media only screen and (min-width: 576px) and (max-width: 1199px) {
  .select-icon::after {
    right: 25px;
  }
}

.main-form-col .custom-control {
  clear: both;
}

.main-form-col .custom-control-label {
  font-size: 11px;
  line-height: 18px;
  text-align: left;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0px;
  background-color: #1c97ff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1c97ff;
}

.btn.main-form-button {
  background-color: #007bff;
  margin: 10px 0px;
  color: #ffffff;
  padding: 12px 25px;
  border-radius: 0px;
  width: 100%;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

@media only screen and (max-width: 991px) {
  .btn.main-form-button {
    max-width: 250px;
  }
}

@media only screen and (max-width: 575px) {
  .btn.main-form-button {
    max-width: 100%;
  }
}

.privacy-text {
  font-size: 11px;
}

.privacy-text a {
  text-decoration: underline;
  color: inherit;
}

.error-text {
  display: block;
  position: relative;
  font-size: 12px;
}

label.error {
  position: absolute;
  display: block;
  color: #ff0000;
  font-size: 12px;
  left: 0px;
  bottom: -15px;
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .main-form-col {
    background-color: #ffffff;
  }
  .main-form-col .row .form-group {
    width: 100%;
  }
  .main-form-col .card {
    width: 100%;
    float: none;
    padding: 8px 5px;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .btn.main-form-button {
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 991px) {
  .main-form-col .form-group {
    width: 50%;
    float: left;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 992) and (max-width: 1199px) {
  .main-form-col .row .form-group {
    width: 100%;
  }
  .main-form-col .form-group {
    width: 100%;
    float: left;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .main-form-col .form-group {
    width: 100%;
    float: none;
    padding-right: 0px;
  }
}

/*end of form rules*/
.prog-band-text-section {
  text-align: center;
  background-color: #1c97ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.prog-band-text-section .prog-band-text {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.programme-features {
  background-color: #262626;
  padding-top: 1px;
}

.programme-features .container-fluid {
  max-width: 1920px;
}

.programme-features-row > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.programme-features-row > div .feature-wrapper {
  background-color: #262626;
  padding: 20px 30px 20px 15px;
  color: #ffffff;
  width: 24%;
}

.programme-features-row > div .feature-wrapper-seperator {
  width: 1%;
}

.programme-features-row > div .feature-wrapper-seperator span.seperator {
  border-right: 1px solid #ffffff;
  position: absolute;
  top: 20px;
  bottom: 20px;
}

.programme-features-row > div .feature-wrapper:last-child {
  margin-right: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .programme-features-row > div .feature-wrapper {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px 10px;
    width: 50%;
  }
  .programme-features-row > div .no-pl-0 {
    padding-left: 0px !important;
  }
  .programme-features-row > div .feature-wrapper:nth-child(1) {
    border-right: 1px solid #ffffff !important;
  }
  .programme-features-row > div .feature-wrapper:last-child {
    border-left: 1px solid #ffffff !important;
  }
  .programme-features-row > div .feature-wrapper-seperator {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .programme-features-row > div > .feature-wrapper {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .programme-features-row > div .feature-wrapper {
    padding: 20px 0px 20px 0px;
  }
  .programme-features-row > div .feature-wrapper-seperator {
    width: 100%;
    height: 2px;
    position: relative;
  }
  .programme-features-row > div .feature-wrapper-seperator span.seperator {
    border-right: none;
    border-top: 1px solid #ffffff;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
  }
  .programme-features-row > div .feature-wrapper:nth-child(2) {
    border: none;
  }
  .programme-features-row > div .feature-wrapper:nth-child(3) {
    border: none;
  }
  .programme-features-row > div .feature-wrapper:nth-child(4) {
    margin-bottom: 20px;
  }
}

.feature-wrapper .head-text {
  display: block;
  font-size: 20px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  line-height: 26px;
  padding-bottom: 8px;
  letter-spacing: 0.36px;
}

.feature-wrapper .main-text {
  display: block;
  font-size: 18px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  line-height: 28px;
}

.feature-wrapper .main-text a {
  display: block;
  text-decoration: underline;
  font-size: 22px;
  color: #ffffff;
}

.feature-wrapper .small-text {
  display: block;
  font-size: 14px;
  margin-bottom: 2px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  letter-spacing: 0.36px;
  line-height: 1.3rem;
}

.feature-wrapper .small-text a {
  display: inline;
  text-decoration: underline;
  font-size: 12px;
  color: #ffffff;
  font-style: italic;
}

.feature-wrapper .small-text i {
  margin-right: 5px;
  display: inline;
}

@media only screen and (max-width: 767px) {
  .feature-wrapper .head-text {
    font-size: 20px;
    line-height: 26px;
  }
  .feature-wrapper .main-text {
    font-size: 18px;
    line-height: 26px;
  }
  .feature-wrapper .main-text a {
    font-size: 15px;
  }
  .feature-wrapper .small-text {
    font-size: 13px;
  }
  .feature-wrapper .small-text a {
    font-size: 13px;
  }
}




/*start highlight rules */
/*start highlight rules */
/*.certificate_offered_block {
  padding: 20px 10px 10px 20px;
  border: 20px solid #4d4dff;
  border-radius: 50px 20px;
  
  min-height: 217px;
}*/
.certificate_offered_block {
  padding: 20px 10px 10px 20px;
  border: 20px solid #4d4dff;
  border-radius: 50px 20px;
  
  min-height: 217px;
}
.certificate_offered_block p {
  margin-bottom: 10px;
}
.certificate_offered_block img{
	height: 100px;
	width: 100px;
	
}
.highlights-sm-row {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
   
}

.highlights-sm-row .highlight-block {
  padding: 20px 10px 10px 20px;
  border: 20px solid #4d4dff;
  border-radius: 50px 20px;
  
}

.highlights-sm-row p {
  display: block;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.highlights-sm-row p a {
  text-decoration: underline;
  color: #292929;
}

.highlights-sm-row p span {
  color: #4d4dff;
  font-weight: bold;
  text-transform: uppercase;
}

.highlights-sm-row-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.highlights-sm-row-2 .highlight-block {
  padding: 20px 10px 10px 20px;
  border: 10px solid #4d4dff;
   border-radius: 50px 20px;
  
}

.highlights-sm-row-2 .highlight-block .pro-high-numbers {
  font-size: 34px !important;
}

.highlights-sm-row-2 p {
  display: block;
  padding: 5px 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.highlights-sm-row-2 p a {
  text-decoration: underline;
  color: #292929;
}

.highlights-sm-row-2 p span {
  color: #262626;
  font-weight: bold;
  text-transform: uppercase;
}

.executive-network {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.executive-network .executive-network-block {
  padding: 30px 10px 20px 20px;
  border: 20px solid #1e295d;
  -webkit-box-shadow: 10px 10px 0 0 #d0cece,
 10px 10px 0 0 #d0cece inset;
          box-shadow: 10px 10px 0 0 #d0cece,
 10px 10px 0 0 #d0cece inset;
}

.executive-network .executive-network-block .pro-high-numbers {
  font-size: 34px !important;
}

.executive-network p {
  display: block;
  padding: 5px 0px;
  font-size: 18px;
  margin-bottom: 0px;
}

.executive-network p a {
  text-decoration: underline;
  color: #292929;
}

.executive-network p span {
  color: #4d4dff;
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .certificate_offered_block {
    min-height: 206px;
  }
  .highlights-sm-row,
  .executive-network {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .certificate_offered_block {
    min-height: auto;
  }
  .highlights-sm-row,
  .executive-network {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 0fr;
  }
  .highlights-sm-row p,
  .executive-network p {
    font-size: 14px;
  }
  .highlights-sm-row-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
  .highlights-sm-row-2 p {
    font-size: 14px;
  }
  .certificate_offered_block p {
    font-size: 14px;
  }
}

.media-learn {
  text-align: center;
}

.media-learn span {
  margin: auto;
}

.pro-high-icon, .pro-high-icon1, .pro-high-icon2, .pro-high-icon3, .pro-high-icon4, .pro-high-icon5, .pro-high-icon6 {
  display: block;
  width: 110px;
  height: 75px;
  margin: 0 auto 5px;
  background-image: url("../images/isb-dma-icons.png");
}

.pro-high-numbers {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  padding: 0 0 5px 0;
  color: #262626;
}

@media only screen and (max-width: 575px) {
  .highlights-sm-row p {
    font-size: 16px;
    padding: 2px 0px 5px;
  }
  .pro-high-numbers {
    font-size: 40px;
    line-height: 40px;
  }
}

.pro-high-icon1 {
  background-position: 0px 0;
}

.pro-high-icon2 {
  background-position: -110px 0;
}

.pro-high-icon3 {
  background-position: -220px 0;
}

.pro-high-icon4 {
  background-position: -330px 0;
}

.pro-high-icon5 {
  background-position: -440px 0;
}

.pro-high-icon6 {
  background-position: -550px 0;
}

.main-highlight.slick-slide {
  outline: none;
}

.main-highlight-section .slick-slider {
  padding: 0;
}

.main-highlight-section .slick-dots {
  bottom: -15px;
}

a.know-more-btn {
  margin: 10px auto 10px;
  border-radius: 0px;
  padding: 15px 30px;
}
/*end highlight rules */
.modules-section > .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
}

.programme-modules-row .card {
  border: none;
  border-radius: 0;
  background: none;
  border-bottom: none !important;
}

.programme-modules-row .card .card-body {
  border-bottom: 1px solid #bdbdbd;
}

.programme-modules-row > div > div .card:last-child {
  border-bottom: none !important;
}

.programme-modules-row .card-header {
  background: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #bdbdbd;
  padding: 0;
  background-color: #ffffff;
}

.programme-modules-row .card-header h5 {
  font-size: 1.1rem !important;
}

.programme-modules-row .card-header a {
  color: #292929;
  text-decoration: none;
  display: block;
  padding: 1.3rem .8rem;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

.md-accordion .card .card-header .card-title {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.md-accordion .card .card-header a {
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.md-accordion .card .card-header a:not(.collapsed) {
  background-color: #262626;
  color: #ffffff;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #ffffff;
}

.md-accordion .card .card-header a:not(.collapsed) .fa-plus:before {
  content: "\f068" !important;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.md-accordion .card .fa-plus {
  float: right;
  color: #bdbdbd;
  font-size: 18px;
  margin-top: 2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.programme-modules-row .card-body {
  background-color: #f3f3f3;
}

@media only screen and (max-width: 420px) {
  .md-accordion .card .fa-plus {
    top: 22px;
    position: absolute;
    right: 10px;
  }
  .programme-modules-row .card-header h5 {
    font-size: 16px;
    padding-right: 15px;
  }
  .programme-modules-row .card-header a {
    padding-right: 20px;
  }
}

.course_modules {
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  .course_modules {
    padding-left: 15px;
  }
}

.topics_list span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #262626;
}

.topics_list ul {
  list-style-type: square;
}

.topics_list ul {
  padding: 0 0 0 20px;
}

.topics_list ul li {
  /* list-style: none; */
  padding: 0;
  margin: 0 0 10px 0;
  line-height: 22px;
}

a.download-btn {
  margin: 10px auto 10px;
  border-radius: 0px;
  padding: 15px 30px;
  white-space: initial;
}

@media only screen and (max-width: 767px) {
  .modules-section > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .certificate-section h2.main-head {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
 .accordion-container h4.accordion-title {
    font-size: 16px !important;
    line-height: 26px;
    padding: 14px 10px !important;
  }
}
/* end of accordian section - programme modules */
------------------------------------------------------


/* start of who is this programme for rules */
.programme-for-col {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.programme-for-col p {
  display: block;
  padding: 15px;
  margin-right: 1%;
  border-radius: 0px;
  background-color: #262626;
  color: #ffffff;
}

.programme-for-col p:last-child {
  margin-right: 0px;
}

.programme-for-col p:nth-child(even) {
  background-color: #1c97ff;
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .programme-for-col p {
    width: 49%;
  }
  .programme-for-col p:nth-child(3) {
    background-color: #1c97ff;
    color: #ffffff;
  }
  .programme-for-col p:nth-child(4) {
    background-color: #262626;
    color: #ffffff;
  }
  .programme-for-col p:last-child {
    width: 100%;
    margin-right: 0px;
    background-color: #1c97ff;
    color: #ffffff;
  }
  .programme-for-col p:nth-child(2n+0) {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .programme-for-col p {
    width: 100%;
    margin-right: 0%;
  }
}

/* end of who is this programme for rules */
.who-programme-box h5.who-programme-name {
  text-align: center;
  padding: 20px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #262626;
}

.who-programme-box p.who-programme-data {
  padding: 15px 10px;
  background-color: #1c97ff;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  font-size: 18px !important;
  height: 200px;
}
.who-programme-box-show {
  display: block;
}
@media only screen and (max-width: 991px) {
  .who-programme-box-show {
    display: block;
}}

@media only screen and (max-width: 767px) {
  .who-programme-box-show {
    display: none;
  }
  .who-programme-box p.who-programme-data {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .who-programme-box .who-programme-data {
    min-height: 247px;
  }
}
.certificate_info {
  line-height: 24px;
  font-size: 18px;
  display: block;
  margin-bottom: 25px;
}

.certificate_info span {
  color: #262626;
}

.certificate {
  margin: 0px;
}

.certificate a img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
}

.certificate-section h2.main-head {
  margin-top: 10px !important;
}

p.certificate-sub-text {
  line-height: 25px;
  font-size: 14px;
  display: block;
  margin: 15px auto 15px;
}

@media only screen and (max-width: 767px) {
  .modules-section > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .certificate-section h2.main-head {
    text-align: center;
  }
}

/* end of certificate section */
.modal-content-cert {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.isb-modal-dialog {
  max-width: 960px;
}

.isb-modal-body {
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  .isb-modal-dialog {
    max-width: 92%;
    margin: 20px auto;
  }
  .isb-modal-body {
    padding: 25px 40px;
  }
    .certificate_info {
    font-size: 14px;
  }
  .certificate_offered p {
    font-size: 12px;
  }
}
.isb-modal-dialog {
  max-width: 960px;
}

.isb-modal-body {
  padding: 40px;
}

.popup-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}

.popup-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #262626;
  left: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fee-info {
  font-weight: 600;
  margin: 20px 0 10px;
}

.fee-info span {
  color: #262626;
  font-weight: 800;
}

.fee-info span.small {
  color: #292929;
  font-weight: normal;
  font-size: 15px;
}

.isb-pop-close-btn {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

.modal-content-cert {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

/*
@media only screen and (min-width: 320px){
	.sticky-btn-section {
    background-color: #262626 !important;
    display: block;
    border-top: 1px solid #ffffff;
    width: 100%;
    float: none;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 999;
    height: 96px;
	
    padding-top: 10px;
  }
  .sticky-btn-section a.sticky-btn {
    display: inline-block;
    background-color: #ffffff !important;
    color: #262626;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    border-radius: 0px;
    width: 90%;

	font-size: 12px;
    padding: 8px 3px;
  }
  
	
}
*/

  
@media only screen and (min-width: 768px) and (max-width: 1440px)  {
  .sticky-btn-section {
    background-color: #262626 !important;
    display: block;
    border-top: 1px solid #ffffff;
    width: 100%;
    float: none;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 999;
    height: 96px;
    padding-top: 10px;
  }
  .sticky-btn-section a.sticky-btn {
    display: inline-block;
    background-color: #ffffff !important;
    color: #262626;
    height: 52px;
    line-height: 52px;
    padding: 0px 25px;
    text-align: center;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 0px;
    max-width: 500px;
    width: 90%;
  }
 .disclaimer-section {
    padding-bottom: 124px;
  }

}

.sticky-btn-section {
    background-color: #262626 !important;
    display: block;
    border-top: 1px solid #ffffff;
    width: 100%;
    float: none;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 999;
    height: 96px;
    padding-top: 10px;
  }
  .sticky-btn-section a.sticky-btn {
    display: inline-block;
    background-color: #ffffff !important;
    color: #262626;
    height: 52px;
    line-height: 52px;
    padding: 0px 25px;
    text-align: center;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 0px;
    max-width: 500px;
    width: 90%;
  }
  .disclaimer-section {
    padding-bottom: 124px;
  }
/*
@media only screen and (max-width: 480px) {

.sticky-btn-section {
    display: none;
  }
  }*/
/*
  .sticky-btn-section {
    display: none;
  }
  */

.sticky-btn-section .deadline-text {
  color: #ffffff;
  display: block;
}
/*dg*/
.application-section {
  color: #ffffff;
  background-color: #262626;
}

.application-section .app-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.early_app_title {
  font-size: 30px;
  text-transform: inherit;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.early_app_sub_title {
  font-size: 18px;
  margin-top: 15px;
}

.early_app_round_title {
  font-size: 24px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.early_app_round_title small {
  display: block;
  color: #ffffff;
  margin-top: 8px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  line-height: 26px;
}

.early_app_sub_title a {
  color: #ffffff;
  text-decoration: underline;
}

.early_app_sub_title a:hover {
  text-decoration: none;
}

.application-section a.apply-now-btn {
  margin: 10px auto 10px;
  border-radius: 0px;
  padding: 15px 30px;
  white-space: initial;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #262626;
}

.app-deadline-main-wrapper {
  padding: 20px 15px;
  max-width: 850px;
  margin: 10px auto;
}

.app-deadline-main-wrapper .app-deadline-col {
  padding-left: 30px;
  padding-right: 30px;
}

.app-deadline-main-wrapper .app-deadline-col .app-deadline-wrapper {
  width: 90%;
  border-radius: 0px;
  border: 2px solid #ffffff;
  position: relative;
  border-left: none;
  padding: 20px 15px 20px 45px;
  margin: 10px auto;
}

.app-deadline-main-wrapper .app-deadline-col .app-deadline-wrapper .app-d-sub-head {
  display: block;
  color: #ffffff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 14px;
}

.app-deadline-main-wrapper .app-deadline-col .app-deadline-wrapper .app-d-sub-text {
  display: block;
  color: #ffffff;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 20px;
}

.app-deadline-main-wrapper .app-deadline-col .app-deadline-wrapper .app-d-head {
  position: absolute;
  width: 100px;
  left: -50px;
  top: 10px;
}

.app-deadline-main-wrapper .app-deadline-col .app-deadline-wrapper .app-d-head .round-text {
  display: block;
  color: #ffffff;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 65px;
  height: 22px;
  line-height: 23px;
  text-align: center;
}

.app-deadline-main-wrapper .app-deadline-col .app-deadline-wrapper .app-d-head .round-nos {
  display: block;
  color: #ffffff;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 65px;
  margin: 0 auto;
  width: 65px;
  line-height: 70px;
  -webkit-text-stroke: 3px #262626;
}

@media only screen and (max-width: 991px) {
  .app-deadline-wrapper {
    max-width: 450px;
  }
}

/* id*/
# programme-highlights.certificate_offered_block{
	margin:auto;
}

.strikeout {
  text-decoration: line-through;
}

/*nav bar */

.top-navbar-menu  {
  display: none;
}

.invite-link {
  color: #000000;
  text-decoration: underline;
  font-weight: 600;
}

@media only screen and  (max-width: 991px) {
  .top-navbar-menu {
    background-color: #ffffff;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .top-navbar-menu .scroll-nav {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .top-navbar-menu .scroll-nav::-webkit-scrollbar {
    display: none;
  }
  .top-navbar-menu .scroll-nav::-webkit-scrollbar-thumb {
    display: none;
  }
  .top-navbar-menu nav {
    width: 100%;
    min-height: 45px;
    background: #ffffff;
  }
  .top-navbar-menu nav ul {
    padding: 0px 10px 0px 10px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }
  .top-navbar-menu nav ul li {
    display: inline-block;
    margin: 12px 0px 10px 0px;
    padding: 0px 10px;
  }
  .top-navbar-menu nav ul li a {
    padding: 37px 5px 11px 5px;
    line-height: 24px;
    color: #1c97ff;
    font-size: 12px;
    text-decoration: none;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    width: 0%;
    text-transform: uppercase;
  }
  .top-navbar-menu nav ul li a:hover {
    color: #1c97ff;
  }
  .top-navbar-menu a.active {
    border-bottom: 3px solid #1c97ff;
  }
  .switch-bg-white {
    background-color: #ffffff !important;
  }
  .switch-bg-grey {
    background-color: #f3f3f3 !important;
  }
}

/* accordian */
.accordion {
  background-color: #660066;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #66ccff;
}

.accordion:after {
  content: '\002b';
  color: #002233;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 5px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* testimonials */
/*
.slick-slider .element{
  height:auto;
  width:100%;
  background-color:#66ccff;
  color:#000;
  border-radius:5px;
  display:inline-block;
  margin:0px 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  font-size:20px;
}
.slick-slider .slick-disabled {
  opacity : 0; 
  pointer-events:none;
}
*/
.rounded-circle{
border-radius: 50%;
margin: auto;
padding-top:10px;
}
.slick-slider2 .elemen{
		text-align: center;
	
		

}

@media only screen and (min-width: 1024px) {
.slick-slider2 .elemen{
		text-align: center;
	height:500px;
		

}
}
@media only screen and (min-width: 768px) {
.slick-slider2 .elemen{
		text-align: center;
	height:400px;
		

}
}
@media only screen and (min-width: 320px) {
.slick-slider2 .elemen{
		text-align: center;
	height:285px;
}
}


.slick-slider .elements{
text-align: center;
height:auto;


}

/* start of graph section */
.graph-section {
  padding-bottom: 20px;
}

.graph-section .graph-head {
  display: block;
  color: #262626;
  font-size: 20px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.graph-section .grapg-note {
  line-height: 25px;
  font-size: 14px;
  display: block;
  margin: 5px auto 15px;
}

.graph-section .graph {
  margin: 0px;
  margin-top: 15px;
}

.graph-section .graph img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* end of graph section */

.in-collob {
  text-align: center;
  display: block;
  margin: auto ;
  font-size: 15px;
  
}
  .disclaimer-section p{
 text-align: center;
  }
	

.eruditus-section-border {
  border-top: 1px solid #bdbdbd;
}

.eruditus-section p {
  font-size: 15px;
  line-height: 1.5rem;
  margin-bottom: 0px;
}
.eruditus-section img{
	width:100px;
	height:100px;
}
.site-footer {
  color: #ffffff;
  background: #262626;
  padding: 10px 0 !important;
  font-size: 15px;
}

.site-footer p {
  margin-bottom: 0px;
}

/* end of collab and footer */
/* nav*/
.programme-features-sticky {
  background-color: #262626;
  border-bottom: 2px solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: none;
}
.programme-features-sticky-row > div {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sticky-bg-color {
  background-color: #262626;
}

.programme-features-sticky .navbar-bg-color {
  background-color: #262626;
}

.programme-features-sticky .navbar-bg-color nav {
  width: 100%;
  min-height: 45px;
  background: #1c97ff;
}

.programme-features-sticky .navbar-bg-color nav ul {
  padding: 8px 10px 2px 10px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.programme-features-sticky .navbar-bg-color nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.programme-features-sticky .navbar-bg-color nav ul li a {
  padding: 10px 0px 5px 0px;
  line-height: 24px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  width: 0%;
}

.programme-features-sticky .navbar-bg-color nav ul li a:hover {
  color: #262626;
  border-bottom: 3px solid #ffffff !important;
}

.programme-features-sticky .navbar-bg-color a.active {
  border-bottom: 3px solid #ffffff !important;
}

.container-fluid.navbar-bg-color {
  width: 100% !important;
}
/* slider2 */
#slider-2 .slick-slide {
    padding:10px;
    background-color: #99ccff;
    text-align:center;
    margin-right:10px;
    margin-left:10px;
	
	
}
@media only screen and (max-width: 480px) {
.programme-features-sticky {
	
	display: none;
}

}
/* industry trends 
*/

.industry-trends-section .industry-trends-row {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.industry-trends-section .industry-trends-row .industry-trends-block {
  border: 20px solid #4d4dff;
   border-radius: 50px 20px;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body {
  padding: 20px 0px 10px 5px;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body p,
.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span {
  display: block !important;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.industry-trends_amount {
  font-size: 30px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 1px 0;
  color: #4d4dff;
  text-transform: uppercase;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.industry-trends_content {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.industry-trends_amount_2 {
  font-size: 38px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 5px 0;
  color: #4d4dff;
  text-transform: uppercase;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.source-text {
  font-size: 12px;
  text-transform: uppercase;
  color: #949494;
}

.industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body img {
  width: 90px;
  padding: 10px 2px;
}

@media only screen and (max-width: 991px) {
  .industry-trends-section .industry-trends-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 0fr;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .industry-trends-section .industry-trends-row {
    width: 90%;
  }
  .industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body p {
    font-size: 12px;
  }
  .industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.industry-trends_amount {
    font-size: 20px;
  }
  .industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.industry-trends_content {
    font-size: 14px;
  }
  .industry-trends-section .industry-trends-row .industry-trends-block .industry-trends-body span.industry-trends_amount_2 {
    font-size: 35px;
  }
}



/* why garranto */
.stat-num ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.stat-num ul li {
  width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.stat-num ul li h4 {
  font-size: 45px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 0 5px 0;
  color: #00123d;
}

.stat-num ul li p {
  font-size: 18px;
  margin-bottom: 12px;
}

.border-stat {
  border-right: 1px solid #bdbdbd;
}

.stat-source {
  font-size: 12px;
  color: #949494;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .stat-num ul {
    display: block;
  }
  .stat-num ul li {
    width: 33.33%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .border-stat {
    border: 0;
    border-right: 1px solid #bdbdbd;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}